---
import Header from "../components/Header/index.vue";
import Layout from "../layouts/Layout.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Navigation from "../components/Header/Navigation.vue";
import Navbar from "../components/Header/Navbar.vue";
import Hero from "../components/Header/Hero.vue";
import Logo from "../components/Logo.vue";
---

<Layout title="Aprenda Inglês com Leo | English With Leo">
  <GlobalStyles />
  <Header>
    <Navbar client:load>
      <Logo />
      <Navigation client:load />
    </Navbar>
    <Hero />
  </Header>
  <div style="height: 10000px"></div>
</Layout>
