---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="https://www.englishwithleo.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="Aprenda Inglês com Leo | English With Leo" />
    <meta
      name="description"
      content="Descubra aulas de inglês online eficazes. Oferecemos cursos de inglês para todos os níveis, do básico ao avançado. Comece a aprender e a aprimorar suas habilidades em inglês hoje!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://englishwithleo.com" />
    <meta
      property="og:title"
      content="Aprenda Inglês com Leo | English With Leo"
    />
    <meta
      property="og:description"
      content="Descubra aulas de inglês online eficazes. Oferecemos cursos de inglês para todos os níveis, do básico ao avançado. Comece a aprender e a aprimorar suas habilidades em inglês hoje!"
    />
    <meta property="og:image" content="/meta-tags.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://englishwithleo.com" />
    <meta
      property="twitter:title"
      content="Aprenda Inglês com Leo | English With Leo"
    />
    <meta
      property="twitter:description"
      content="Descubra aulas de inglês online eficazes. Oferecemos cursos de inglês para todos os níveis, do básico ao avançado. Comece a aprender e a aprimorar suas habilidades em inglês hoje!"
    />
    <meta property="twitter:image" content="/meta-tags.png" />
    <meta
      name="keywords"
      content="Aprender Inglês Online, Curso de Inglês, Aulas de Inglês Online, Inglês para Brasileiros, Professor de Inglês, Inglês Básico, Inglês Avançado, Inglês Fluente, Estudar Inglês, Curso de Inglês Online"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
